<ul class="grid grid-cols-5 gap-4 max-h-12">
  {{#each celebs}}
    <li class="p-3 hover:shadow-s flex flex-col items-center">
      <div class="relative">
        <img src="{{images}}" class="w-60 h-60 object-cover rounded-lg">
        <div class="absolute bottom-0 left-0 w-full bg-black bg-opacity-50 text-white text-center py-2">
          <div class="text-lg font-bold">{{name}}</div>
          <div class="text-sm">{{description}}</div>
        </div>
      </div>
    </li>
  {{/each}}
</ul>

<div class="my-8">
  <h3 class="text-center text-lg font-bold mb-2">Upcoming Events:</h3>
  <ul class="text-center">
    {{#each events}}
    <li>{{name}}</li>  
    {{/each}}
  </ul>
  <p class="mt-4 text-center">Check out our <a href="./outcome" class="underline">events and outcome page</a> for more details!</p>
</div>
