
<ul>
  
  {{#each celebs}}
  <div class="p-6 bg-gray-100 hover:drop-shadow-2xl">
  <li>Celeb name is {{name}}, this is them  <img src="{{images}}" class="mx-auto"></li>
  </div>
  {{/each}}
</ul>



the events are:<ul>
  {{#each events}}
  <li> {{name}}, </li>
  {{/each}}
</ul>

the following link will take you to <a href="./outcome"> the events and outcome page</a>