<ul>
  {{#each outcome}}
  <li>{{celebName}} has {{description}}, and they got {{outcome}} </li>
  {{/each}}
</ul>


<div>
<a href="./outcome"><button id="new" type="button">generate new outcomes!</button><a href="./outcome">

</div>

<a href="/">back to main page</a>