<!DOCTYPE html>
<html>
<head>
  <title>Stardom Survivor</title>

  <link href="/output.css" rel="stylesheet">

 
</head>
<body class="flex justify-center items-center h-screen">
  <h1 class="bg-red-500 p-1">Stardom Survivor</h1>
</body>
  {{{body}}}
</body>
</html>
